{% extends "::base.html.twig" %}

{% block title %}BlogBundle :: {{ parent() }}{% endblock %}

{% block stylesheets %}
    {% stylesheets filter="compass" output="/css/screen.css" 
        "@CypressBlogBundle/Resources/assets/sass/screen.scss" %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="wrapper" class="blogbundle container">
        <div class="header">
            {% block menu %}
                <div id="main-menu">
                    <ul>
                        <li class="first">
                            <a class="button {{ selected == 'homepage' ? 'blue' : 'orange' }}" href="{{ path('blog_home') }}">Home</a>
                        </li>
                        <li>
                            <a class="button {{ selected == 'categories' ? 'blue' : 'orange' }}" href="{{ path('blog_categories') }}">Categories</a>
                        </li>
                        <li class="last">
                            <a class="button {{ selected == 'tags' ? 'blue' : 'orange' }}" href="{{ path('blog_tags') }}">Tags</a>
                        </li>
                    </ul>
                </div>
            {% endblock %}
            <h1><a href="{{ path('blog_home') }}">Blog</a></h1>
        </div>
        {% block content %}{% endblock %}
        {% block sidebar %}{% endblock %}
    </div>
{% endblock %}
