{% extends "CypressBlogBundle::blog.html.twig" %}

{% block title %}Homepage :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = 'homepage' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="posts">
        {% posts %}{% endposts %}
    </div>
{% endblock %}

{% block sidebar %}
<div class="aside">
    <div class="metadata box">
        <h3 class="caps">categorie</h3>
        <ul>
        {% for category in categories %}
            <li class="quiet">
                <a href="{{ path('blog_category', { 'slug': category.slug }) }}">{{ category }}</a> ({{ category.posts|length }})
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="metadata box">
        <h3 class="caps">tags</h3>
        <ul>
        {% for tag in tags %}
            <li class="quiet">
                <a href="{{ path('blog_tag', { 'slug': tag.slug }) }}">{{ tag }}</a> ({{ tag.posts|length }})
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="metadata box">
        <h3 class="caps">last comment</h3>
        <p class="quiet">Lorem ipsum</p>
    </div>
</div>
{% endblock %}