{% extends "CypressBlogBundle::blog.html.twig" %}

{% block title %}{{ post }} :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = '' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="post span-18">
        {% include 'BlogBundle:Blog:slices/social_bar.html.twig' %}
        <div class="the-post">
            <h4 class="category quiet">
                <a href="{{ path('blog_category', { 'slug': post.category.slug }) }}">{{ post.category }}</a>
            </h4>
            <h2 class="post-title">{{ post }}</h2>
            <p>{{ post.theText }}</p>
            <ul class="tag-list">
            {% for tag in post.tags %}
                <li class="quiet {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }}">
                    <a href="{{ path('blog_tag', { 'slug': tag.slug }) }}">{{ tag }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="comments">
            <h4 class="quiet">Comments</h4>
            <ul class="comment-list prepend-top">
                {% for comment in post.comments %}
                    <li class="{{ loop.index % 2 == 0 ? 'even' : 'odd' }} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }} append-bottom">
                        <strong>{{ comment.user }}:</strong> {{ comment.theText }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="metadata box span-5 last">
        <h3 class="caps">last comment</h3>
        <p class="quiet">Lorem ipsum</p>
    </div>
{% endblock %}