{% extends "BlogBundle::blog.html.twig" %}

{% block title %}{{ post }} :: {{ parent() }}{% endblock %}

{% block menu %}
    {% set selected = '' %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="post span-18">
        <div class="social append-bottom">
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
            <a class="addthis_button_preferred_1"></a>
            <a class="addthis_button_preferred_2"></a>
            <a class="addthis_button_preferred_3"></a>
            <a class="addthis_button_preferred_4"></a>
            <a class="addthis_button_compact"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4d2cd1195b33ee72"></script>
            <!-- AddThis Button END -->
        </div>
        <div class="the-post">
            <h2 class="post-title">{{ post }}</h2>
            <p>{{ post.theText }}</p>
        </div>
        <div class="comments">
            <h4 class="quiet">Comments</h4>
            <ul class="comment-list prepend-top">
                {% for comment in post.comments %}
                    <li class="{{ loop.index % 2 == 0 ? 'even' : 'odd' }} {{ loop.first ? 'first' : '' }} {{ loop.last ? 'last' : '' }} append-bottom">
                        <strong>{{ comment.user }}:</strong> {{ comment.theText }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="metadata box span-5 last">
        <h3 class="caps">last comment</h3>
        <p class="quiet">Lorem ipsum</p>
    </div>
{% endblock %}